DATABASE_URL=postgresql://user:password@host:5432/dbname
JWT_SECRET=
HERE_API_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
